1. **구글 드라이브 마운트**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd

2. **csv파일 불러오기**

*   <수정> pd.read_csv(path+'파일명')


*   ***!!!파일 가져오기 전에!!!***

 .csv파일을 구글 스프래드시트로 열어서 수정하면 .gsheet로 변경됩니다. 그래서 이걸 다시 .csv파일로 바꿔줘야 해요!

 (구글 스프래드시트로 다시 열어서 직접 수정하면 됩니당)

In [ ]:
path = '/content/drive/Shareddrives/capstone/Elegant_Friends/rsc/labeling_data/service_center_2020_4.csv'

file = pd.read_csv(path)
file.drop(columns = {"Unnamed: 0"}, inplace = True)

In [ ]:
file

              DATE  ... LABEL
0    2020년 12월 31일  ...     1
1    2020년 12월 31일  ...     0
2    2020년 12월 30일  ...     0
3    2020년 12월 30일  ...     0
4    2020년 12월 30일  ...     0
..             ...  ...   ...
883   2020년 10월 2일  ...     0
884   2020년 10월 2일  ...     1
885   2020년 10월 1일  ...     0
886   2020년 10월 1일  ...     0
887   2020년 10월 1일  ...     0

[888 rows x 4 columns]

3. **train과 dev+test로 분할**

In [ ]:
from sklearn.model_selection import train_test_split

train, dev_test, = train_test_split(file, test_size=0.2, 
                                    shuffle=True, 
                                    random_state=1004)
print("train: ", len(train), ", dev+test: ", len(dev_test))

train:  710 , dev+test:  178

4. **dev+test를 dev와 test로 분할**

In [ ]:
dev, test, = train_test_split(dev_test, test_size=0.5, 
                                    shuffle=True, 
                                    random_state=1004)
print("train: ", len(dev), ", dev+test: ", len(test))

train:  89 , dev+test:  89

5. **.tsv파일로 저장**


*   어플 이름으로 디렉토리 생성

In [ ]:
train

              DATE  ... LABEL
593  2020년 11월 11일  ...     0
376  2020년 11월 20일  ...     1
265  2020년 11월 25일  ...     0
881   2020년 10월 3일  ...     0
605  2020년 11월 10일  ...     1
..             ...  ...   ...
239  2020년 11월 28일  ...     0
325  2020년 11월 22일  ...     1
31   2020년 12월 23일  ...     0
523  2020년 11월 17일  ...     1
2    2020년 12월 30일  ...     0

[710 rows x 4 columns]

In [ ]:
mkdir /content/drive/Shareddrives/capstone/Elegant_Friends/rsc/train_data/service_center_2020_4/

In [ ]:
save_path = '/content/drive/Shareddrives/capstone/Elegant_Friends/rsc/train_data/service_center_2020_4/'
train.to_csv(save_path+'train_LG.tsv', sep='\t', header=False)
dev.to_csv(save_path+'dev_LG.tsv', sep='\t', header=False)
test.to_csv(save_path+'test_LG.tsv', sep='\t', header=False)